<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ue.chess">

    <!--android:name=".DemoApplication"-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/svg_balloon_tip"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DoubleModeAty"
                  android:theme="@style/GameTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.OnlineModeAty"
                  android:theme="@style/GameTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.InviteModeAty"
                  android:theme="@style/GameTheme"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>