<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ue.chess_life">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/svg_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NormalTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme"/>
        <activity
            android:name=".ui.GameRuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NormalTheme"/>
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NormalTheme"/>
        <activity
            android:name=".ui.NoticeUpdateAty"
            android:screenOrientation="portrait"
            android:theme="@style/NormalTheme"/>
        <service android:name=".utils.UpdateService"/>

        <!-- 声明SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"/>
        <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>